<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property scope="context" resource="application.yml" />
    <property resource="bootstrap.properties" />
    <!--<property name="LOG_PATH" value="${LOG_PATH:-/var/log/platform-logs}" />-->
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}" />
    <property name="LOG_FILE" value="${LOG_FILE:-${spring.application.name}}" />
    
    <!--  
    <logger name="com.minsait.onesait.platform" level="DEBUG" />
    -->
    
    <appender name="stdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_FILE} %d{HH:mm:ss.SSS} [%thread] %X{correlationId} %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>
    
    <appender name="stdoutWarnAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${LOG_FILE} %d{HH:mm:ss.SSS} [%thread] %X{correlationId} %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">     
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}-${PID}_%i.log
			</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>5</maxHistory>
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
        <encoder>
            <pattern>${LOG_FILE} %d{HH:mm:ss.SSS} [%thread] %X{correlationId} %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="rollingFileAppender" />
    </appender>
    
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>127.0.0.1</graylogHost>
        <graylogPort>12201</graylogPort>
        <connectTimeout>15000</connectTimeout>
        <reconnectInterval>300</reconnectInterval>
        <maxRetries>2</maxRetries>
        <retryDelay>3000</retryDelay>
        <poolSize>2</poolSize>
        <poolMaxWaitTime>5000</poolMaxWaitTime>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>${HOSTNAME}</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>true</includeCallerData>
            <includeRootCauseData>true</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n</pattern>
            </fullPatternLayout>
            <numbersAsString>false</numbersAsString>
            <staticField>app_name:control_panel</staticField>
            <staticField>os_arch:${os.arch}</staticField>
            <staticField>os_name:${os.name}</staticField>
            <staticField>os_version:${os.version}</staticField>
        </encoder>
    </appender>

    <appender name="ASYNC GELF" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="GELF" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC GELF" />
    </root>    
         
    <springProfile name="dev,default">
	    <root level="INFO">
	        <appender-ref ref="stdoutAppender" />
	        <appender-ref ref="rollingFileAppender" />
	        <appender-ref ref="ASYNC GELF" />
	    </root>
    </springProfile>
    <springProfile name="production,docker">
	    <root level="INFO">
	        <appender-ref ref="ASYNC" />
	        <appender-ref ref="ASYNC GELF" />
	    </root>
    </springProfile>     
    
</configuration>   
    